<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funsonli.springbootdemo154mybatisatomikos.mapper.user.StudentMapper">
    <insert id="save">
        INSERT INTO `student` (`id`,
                                `name`,
                                `age`)
        VALUES (#{student.id},
                #{student.name},
                #{student.age})
    </insert>
</mapper>