<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{common/head :: header}"></header>
<body>
<div class="header">
	<a href="/"><img src="/images/logo.png"></a><span th:text="#{spring_boot}">
</div>

<div class="content">
	<select id="locale">
		<option value="zh_CN">中文简体</option>
		<option value="en_US">English</option>
	</select>
	<form action="/login" method="post">
		<input type="text" name="name" th:placeholder="#{user.name}"/><br>
		<input type="password" name="password" th:placeholder="#{user.password}"/><br>
		<input type="submit" th:value="#{user.login}">
	</form>
</div>
<script th:inline="javascript">
	//选中语言
	$("#locale").find('option[value="' + LANG_COUNTRY + '"]').attr('selected', true);
	//切换语言
	$("#locale").change(function () {
		$.get(ROOT + '/?lang=' + $("#locale").val(), function () {
			location.reload();
		});
	});
</script>

</body>
</html>